<%- include('./includes/head.ejs')%>
   <link rel="stylesheet" href="css/main.css">
   <script src="js/scrollbar.js" defer></script>
   <script src="js/filter-changer.js" defer></script>
</head>
<body>

   <div class = "username">
      <a href="profiles/user/<%= user.userID %>"><h1><%= user.fname %> <%= user.lname %></h1></a>
   </div>

   <div id="progressbar"></div>
   <div id="scrollpath"></div>
   <div class="content">
      <header>
         <div class="upperWave wave1"></div>
         <div class="upperWave wave2"></div>
         <div class="upperWave wave3"></div>
         <div class="upperWave wave4"></div>
      </header>

      <div class="headers">
         <h1 class="general-header">ORDERS</h1>
         <h2 class="second-header">COMPANY</h2>
      </div>
 
         <p class="main-text"><span>Orders</span> — являється посередником між клієнтом і командою розробників, де ви з легкістю можете оформити замовлення в ІТ сфері будь-якого характеру та важкості, і не важливо чи буде це веб ресурс, чи програмне забезпечення. Як тільки Ви підтвердите замовлення з вами зв’яжуться фахівці та проконсультують і обумовлять деталі.
         </p>

         <div class="search">
            <form action="/shop" method = "POST">
               <input type="text" placeholder="Product name..." name ="search" class="search">
               <button class="btn" type="submit">Search</button>
            </form>
         </div>

         <div class="list-filter">
            <select class="filter" size="1" onchange="location = `/shop?filter=${this.value}`;">
               <option value="DESC">Price-DESC</option>
               <option value="ASC">Price-ASC</option>
             </select>
         </div>

         <div class="container">
         <% products.forEach(product => {%>
         <a href="/shop/product/<%=product.id%>"> 
            <div class="product-div">
               <img src="<%= product.imagepath %>" class = "product-img" alt="<%= product.imagepath %>">
               <h1 class="product"><%=product.title%></h1>
               <h2 class="product-price"><%=product.price%>$</h2>
            </div>
         </a>
         <%});%>
      </div>
   
      <div class="contacts">
         <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.5533071266227!2d22.2967556158632!3d48.61839312552882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919b02740d259%3A0x6c1b5b7c00c1a97e!2sThinkMobiles!5e0!3m2!1sru!2sua!4v1618452875280!5m2!1sru!2sua" allowfullscreen="" loading="lazy"></iframe>

         <div class="e-mail">
            <h2>ordersworkmail@orders.com</h2>
         </div>

         <div class="phone">
            <h2>+380689643215</h2>
         </div>

         <div class="instagram">
            <a href="https://www.instagram.com"><img src="css/images/instagram.png" alt=""></a>
         </div>

         <div class="facebook">
            <a href="https://www.facebook.com"><img src="css/images/facebook.png" alt=""></a>
         </div>

         <div class="linkedIn">
            <a href="https://www.linkedin.com"><img src="css/images/linkedin.png" alt=""></a>
         </div>

      </div>
   
      <footer>
         <div class="lowerWave wave1"></div>
         <div class="lowerWave wave2"></div>
         <div class="lowerWave wave3"></div>
         <div class="lowerWave wave4"></div>
      </footer>
   </div>
</body>
</html>